@charset "utf-8";
@font-face {
  font-family: 'iconfont';  /* project id 1747756 */
  src: url('//at.alicdn.com/t/font_1747756_yvkzsqdnqd.eot');
  src: url('//at.alicdn.com/t/font_1747756_yvkzsqdnqd.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1747756_yvkzsqdnqd.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1747756_yvkzsqdnqd.woff') format('woff'),
  url('//at.alicdn.com/t/font_1747756_yvkzsqdnqd.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1747756_yvkzsqdnqd.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix {
  display: inline-block;
}

.clearfix:after { /*   // <----在类名为“clearfix”的元素内最后面加入内容；*/
  content: "."; /*//   <----内容为“.”就是一个英文的句号而已。也可以不写。*/
  display: block; /*//<----加入的这个元素转换为块级元素。*/
  clear: both; /* //   <----清除左右两边浮动。*/
  visibility: hidden; /*//    <----可见度设为隐藏。注意它和display:none;是有区别的。仍然占据空间，只是看不到而已；*/
  height: 0; /* <----高度为0；*/
  line-height: 0;
}
